<div class="content-container">
  <div class="content-area">
    <div class="clr-row clr-justify-content-center">
      <form clrForm>
          <div class="clr-form-control">
              <label for="example" class="clr-control-label">Token</label>
              <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                      <input type="text" id="example" placeholder="Github Token" class="clr-input">
                      <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span class="clr-subtext">Enter Here</span>
              </div>
          </div>
      </form>
       <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>